html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    font-family: 'poppins', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(180deg ,#0f172a 0% ,#020617 100%);
   color: white;
}
.main-container{
    padding: 10px 20px;
    max-width: 700px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-container{
        display: none;
        gap: 8px;
    }
.search-container-show{
    display:flex ;
}

    .search-btn{
        height: 30px;
        padding: 4px  ;
        box-sizing: border-box;
        background-color: #0a2183;
        color: white;
        border-radius: 4px;
        font-family: 'poppins',sans-serif;
        font-size: 1.6rem;
        border: none;
    }
    .search-btn:hover{
        background-color: lightblue;

    }
    #search-icon{
        font-size: 20px;
        text-align: center;
    }
    .search{
        width: 140px;
        height: 35px;
        border-radius: 12px;
        border: none;
        font-family: 'poppins',sans-serif;
        background-color: #051246;
        font-size: 1.4rem;
        padding: 6px;
        box-sizing: border-box;
    }
.city-select{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'poppins',sans-serif;
}
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  gap: 16px;
}
#main-image{
    font-size: 100px;
    color: yellow;
}

.temp{
    text-align: center;
    font-size: 40px;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 8px;
  margin-top: 32px;

}
.sub-image-container{
    height: 100px;
    box-sizing: border-box;
    width: 80px;
    padding: 8px;
    border-radius: 16px;
     display: grid;
     grid-template-columns: 1fr;
     place-items: center;
     background-color: #040b29;
 box-shadow: 2px -2px 4px #08154e;

}
#sub-image{
    color: orange;
}
.bottom-nav-container{
    background-color: #040b29;
    position: fixed;
    bottom: 1px;
    height: 60px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    border-radius: 12px;
}
#b-nav{
    height: 30px;
    width: 30px;
    text-align: center;

}
#b-nav:hover{
    color:lightblue;
    cursor: pointer;
    border-bottom: 2px solid lightblue;
}
.side-bar-container{
    height: 100vh;
    width: 130px;
    background-color: #08154e;
   padding: 40px 30px;
   display: none;
   position: fixed;
   top:1px ;
   left: 0px;
}
.side-bar-show{
display: block;
}
.side-bar{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.link{
    text-align: start;
    padding: 5px 4px;
    border-radius: 4px;
}
.link:hover{
    color: white;
    background-color: #002fff;
}

@media (min-width:768px) and (max-width:1024px){
    body,.get-btn{
        font-size: 1.7rem ;
    }
    #main-image{
        font-size: 160px;
    }
    .temp{
    font-size: 60px;
}
.sub-image-container{
height:140px ;
width: 120px;
}
#sub-image{
font-size: 40px;
}
#b-nav,#humburger{
font-size: 35px;
height: 40px;
width: 40px;
}
.city-select{
font-size: 1.7rem;
}
small{
font-size: 1.5rem;
}
.bottom-nav-container{
height: 70px;
}

}


@media (min-width:1024px){
    body{
        font-size: 1.8rem ;
        display: flex;
    }
    .main-container{
        max-width:100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .bottom-nav-container{
        display: none;
    }
    .search-container{
        display: block;
    }
    .search-btn{
        height: 35px;
        padding: 4px 12px ;
        box-sizing: border-box;
        background-color: #0a2183;
        color: white;
        border-radius: 12px;
        font-family: 'poppins',sans-serif;
        font-size: 1.8rem;
        border: none;
    }
    .search-btn:hover{
        background-color: lightblue;

    }
    .search{
        width: 350px;
        height: 40px;
        border-radius: 12px;
        border: none;
        font-family: 'poppins',sans-serif;
        background-color: #051246;
        font-size: 1.8rem;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .nav-container{
        justify-content: space-between;
        padding: 10px 20px;
    
    }
    #humburger{
        display: none;
    }
    .hero-container{
        margin-top: 92px;
    }
    
    .iron-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
    .card-container{
        place-items: center;
        margin: 0;
    }
    .sub-image-container{
        height: 180px;
        width: 140px;
        
    }
    #sub-image{
       font-size: 40px;
    }

    .temp{
    font-size: 70px;
}


#b-nav,#humburger{
font-size: 35px;
height: 40px;
width: 40px;
}
.city-select{
font-size: 1.7rem;
}
small{
font-size: 1.5rem;
}
.bottom-nav-container{
height: 70px;
}
.city-select{
font-size: 1.8rem;
}
small{
font-size: 1.6rem;
}
.bottom-nav-container{
height: 80px;
}
.side-bar-container{
    display: block;
    width: 200px;
    position: static;
}

}