html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'poppins',sans-serif;
    background: linear-gradient(180deg ,#0f172a 0% ,#020617 100%);
    color: white;
}
#home-thunder{
    font-size: 120px;
    color:lightblue;
}

.main-container1 {
    max-width: 600px;
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
max-width: 600px;
}
pre{
    font-family: 'poppins',sans-serif;
      text-align: center;
}
.get-btn{
    font-family: 'poppins',sans-serif;
    font-size: 1.6rem;
    color: white;
    background-color: blue;
    width: 50%;
    height: 44px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
}
.get-btn:hover{
    background-color:rgb(49, 49, 226);
    
}

@media (min-width:768px) and (max-width:1024px){
    body,.get-btn{
        font-size: 1.7rem ;
    }
    #home-thunder{
        font-size: 140px;
    }
}
@media (min-width:1025px){
    body,.get-btn{
        font-size: 1.8rem ;
    }
    #home-thunder{
        font-size: 160px;
    }
}
