body{
    background: linear-gradient(90deg,rgb(0, 0, 3),rgb(7, 7, 48),rgb(0, 0, 3));
    color:white;
    font-family:'poppins',sans-serif;
    overflow: hidden;
}
.image-get{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 200px;
    opacity: 1;
    
}
.img4{
    opacity: 0;
    transition: 3s ease 0.5s;
}
.got{
    opacity: 1;
    transform: scale(1.2);
}


.des1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 70px;
}
.btn-get{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.title{
    color:white;
    font-size: 30px;

}
.intro{
    color: rgb(94, 92, 92);
    line-height: 20px;
    font-size: 16px;
}
#btn-get{
    color: white;
    background-color: rgb(0, 0, 255);
    border: none;
    padding: 10px 40px;
    border-radius: 9px;
    font-weight: bold;
}
#btn-get:hover{
    color: black;
    
    background-color: aliceblue;
}

/*home page */


.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: -4px;
    margin-top: 20px;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}
.box{
    background-color: rgb(12, 12, 51);
    padding: 10px 30px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    transition: 3s ease 0.5s;
    opacity: 0;
    box-shadow: 0 4px 20px rgba(0,0,0,1);
}
.show{
    opacity: 1;
    transform: translateY(1);
}
#input{
    height:25px;
    border-radius: 6px;
    outline: none;
    border: 1px solid gray;
    padding: 3px 6px;
}
#input:focus{
    border:1px solid green;
    
}
#btn{
    
    border-radius: 6px;
    color:white;
    border:none;
    background-color: blue;
    margin-left: 10px;
    padding:8px 12px;

}
#btn:hover{
    
    background-color:blueviolet;
}
p{
    color:gray
}